#sort.ui.black.labeled.icon.top.right.pointing.dropdown.button
  span.text 依
  i.dropdown.icon
  span.text 發佈日期
  .menu.ui.transition.hidden
    .item 發佈日期
    .item 更新日期
    .item 瀏覽人次

div
    h2#title.ui.header.inverted
      | 技術部產品測試
    #search.ui.icon.input
      input(type='text', placeholder='找軟體...')
      i.inverted.search.icon
