.topic.column
  h3.topic 推動網路中立性立法宣言配圖
  .ui.shape
    .slides
      .active.side
        .topic.content
          a.topic.draft(href='')
            img.rounded.ui.image(src='')
          .topic.summary
            p.meta
              span.ui.horizontal.label 類型
              | 插畫
            p.meta
              span.ui.horizontal.label 截止日期
              | it's done when it's done
            p.meta
              span.ui.horizontal.label 窗口
              | nchild
            p.meta
              span.ui.horizontal.label 討論串
              a.ui.labeled.icon.button.small.right(href="https://groups.google.com/forum/#!topic/g0v-moc/IOSC1DGPsmI")
                | google groups
                i.icon.url
        .topic.action
          .ui.labeled.icon.button.green.small
            i.icon.upload
            | 上傳草稿
          .ui.labeled.icon.button.teal.small
            i.icon.upload
            | 上傳完稿
          a.ui.labeled.icon.button.blue.right.small(href="idea.html")
            | 看詳細資料
            i.icon.right
      .side
        .topic.content
        .topic.action
          .ui.labeled.icon.button.red.small
            i.icon.cancel
            | 取消
          .ui.labeled.icon.button.teal.small
            i.icon.done
            | 確定

