extends template-list-idea

block title
  | 作品上傳區 | g0v 文化部授權中心

block list
  .idea.wrap-vertical.clearfix
    .ui.horizontal.divider 服貿系列  
    .ui.grid
      include ideas-topic-column
      include ideas-topic-column
      include ideas-topic-column
      include ideas-topic-column
    .ui.horizontal.divider 網路中立系列  
    .ui.grid
      include ideas-topic-column
      include ideas-topic-column
      include ideas-topic-column
