!!!5
html
  include head.jade

  body

    #header.item
      a#back.ui.labeled.icon.button(href='ideas.html')
        i.left.icon
        | 回上一頁

    #content.wrap-horizontal
      block content

    #footer.idea
      block footer

    #script
      include script.jade
