extends template-list-idea

block title
  | g0v 文化部授權中心：作品上傳區

block list
  .wrap-vertical.clearfix
    .ui.horizontal.divider 網路中立系列

    h3.topic 推動網路中立性立法宣言配圖
    .topic.column
      a.column.topic.draft(href='')
        img.rounded.ui.image(src='')
      .column.topic.summary
        p.meta
          span.ui.horizontal.label 類型
          | 插畫
        p.meta
          span.ui.horizontal.label 截止日期
          | it's done when it's done
        p.meta
          span.ui.horizontal.label 窗口
          | nchild
        p.meta
          span.ui.horizontal.label 討論串
          | https://groups.google.com/forum/#!topic/g0v-moc/IOSC1DGPsmI
    .topic.action
      .ui.labeled.icon.button.green
        i.icon.upload
        | 上傳草稿
      .ui.labeled.icon.button.teal
        i.icon.upload
        | 上傳完稿
      a.ui.labeled.icon.button.blue.right(href="")
        | 看詳細資料
        i.icon.right

    h3.topic 推動網路中立性立法宣言配圖
    .topic.column
      a.topic.draft(href='')
        img.rounded.ui.image(src='')
      .topic.summary
        p.meta
          span.ui.horizontal.label 類型
          | 插畫
        p.meta
          span.ui.horizontal.label 截止日期
          | it's done when it's done
        p.meta
          span.ui.horizontal.label 窗口
          | nchild
        p.meta
          span.ui.horizontal.label 討論串
          | https://groups.google.com/forum/#!topic/g0v-moc/IOSC1DGPsmI
    .topic.action
      .ui.labeled.icon.button.green
        i.icon.upload
        | 上傳草稿
      .ui.labeled.icon.button.teal
        i.icon.upload
        | 上傳完稿
      a.ui.labeled.icon.button.blue.right(href="")
        | 看詳細資料
        i.icon.right

  .wrap-vertical.clearfix
    .ui.horizontal.divider 網路中立系列

    h3.topic 推動網路中立性立法宣言配圖
    .topic.column
      a.topic.draft(href='')
        img.rounded.ui.image(src='')
      .topic.summary
        p.meta
          span.ui.horizontal.label 類型
          | 插畫
        p.meta
          span.ui.horizontal.label 截止日期
          | it's done when it's done
        p.meta
          span.ui.horizontal.label 窗口
          | nchild
        p.meta
          span.ui.horizontal.label 討論串
          | https://groups.google.com/forum/#!topic/g0v-moc/IOSC1DGPsmI
    .topic.action
      .ui.labeled.icon.button.green
        i.icon.upload
        | 上傳草稿
      .ui.labeled.icon.button.teal
        i.icon.upload
        | 上傳完稿
      a.ui.labeled.icon.button.blue.right(href="")
        | 看詳細資料
        i.icon.right

    h3.topic 推動網路中立性立法宣言配圖
    .topic.column
      a.topic.draft(href='')
        img.rounded.ui.image(src='')
      .topic.summary
        p.meta
          span.ui.horizontal.label 類型
          | 插畫
        p.meta
          span.ui.horizontal.label 截止日期
          | it's done when it's done
        p.meta
          span.ui.horizontal.label 窗口
          | nchild
        p.meta
          span.ui.horizontal.label 討論串
          | https://groups.google.com/forum/#!topic/g0v-moc/IOSC1DGPsmI
    .topic.action
      .ui.labeled.icon.button.green
        i.icon.upload
        | 上傳草稿
      .ui.labeled.icon.button.teal
        i.icon.upload
        | 上傳完稿
      a.ui.labeled.icon.button.blue.right(href="")
        | 看詳細資料
        i.icon.right
