!!!5
html
  include head.jade

  body

    #header.idea

      a#back.ui.labeled.icon.button(href='ideas.html')
        i.left.icon
        | 回作品上傳區
      
      #login.ui.button
        | 登入

      h2#title.ui.header
        block topic


    #content.wrap-horizontal.wrap-vertical
      block content

    #footer.idea
      block footer

    #script
      include script.jade
