extends template-list

block title
  | g0v 文化部授權中心

block current
  | g0v 授權中心

block header
  #sort.ui.black.labeled.icon.top.right.pointing.dropdown.button
    span.text 依
    i.dropdown.icon
    span.text 發佈日期
    .menu.ui.transition.hidden
      .item 發佈日期
      .item 類型
      .item 所屬領域
      .item 名稱
      .item 作者
      .item 相關專案
      .item 關鍵字
  
  h2#title.ui.header.inverted
    | 文化部作品下載
  #search.ui.icon.input
    input(type='text', placeholder='找作品...')
    i.inverted.search.icon

block list
  include list-license.jade

block footer
  span.ui.header.inverted.small 加入創作
  a.ui.labeled.icon.button.black(href='idea.html')
    i.icon.upload
    | 上傳作品
