!!!5
html
  include head.jade

  body

    #header
      include switch.jade
      include header-license.jade

    #list
      include list-license.jade

    #footer
      include footer-license.jade

    #script
      include script.jade
