!!!5
html
  include head.jade

  body

    #header
      include switch.jade
      include header-software.jade

    #list
      include list-software.jade

    #footer
      include footer-software.jade

    #script
      include script.jade
      