#switch.ui.black.labeled.icon.top.right.pointing.dropdown.button
  i.dropdown.icon
  | g0v 軟體中心
  .menu.ui
    a.item(href="http://g0v.tw/")
      i.home.icon
      | g0v 官方網站
    a.item(href="index.html")
      i.download.icon
      | g0v 授權中心
    a.item(href="software.html")
      i.download.icon
      | g0v 軟體中心
    a.item(href="http://hack.g0v.tw/")
      i.folder.icon
      | g0v hackfoldr
