!!!5
html
  include head.jade

  body

    #header.list
      include switch.jade
      block header

    #list
      block list

    #footer.list
      block footer

    #script
      include script.jade
