      .topic.summary
        p.meta
          span.ui.horizontal.label 所屬領域
          | 網路中立
        p.meta
          span.ui.horizontal.label 類型
          | 插畫、漫畫
        p.meta
          span.ui.horizontal.label 使用場合
          | facebook 轉載用的網路文宣、平面印刷小手冊
        p.meta
          span.ui.horizontal.label 希望達到的效果
          | blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        p.meta
          span.ui.horizontal.label 背景資料
          | blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        p.meta
          span.ui.horizontal.label 概念
          | blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
        p.meta
          span.ui.horizontal.label 張貼日期
          | 2013/10/20
        p.meta
          span.ui.horizontal.label 截止日期
          | it's done when it's done
        p.meta
          span.ui.horizontal.label 窗口
          | nchild
        p.meta
          span.ui.horizontal.label 討論串
          | https://groups.google.com/forum/#!topic/g0v-moc/IOSC1DGPsmI
